<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <!-- Header -->
<header>
    <nav></nav>
</header>

    <!-- Main -->

    
        <section class="index-welcome">
            <h1>Home</h1>
            <p>SQL Centric backend site for quarantined cyber security models.</p>
        </section>
        
    <!-- Area of weaknessess -->

<div class="index-user-login">
    <h2>Log in</h2>
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Log in</button>
    </form>
</div>
















    <!-- Footer -->



    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>